
@font-face {
	font-family: "Jelytta";
	src: url(../fonts/Jelytta/Jelytta.ttf);
}
@font-face {
	font-family: "Gotham-Bold";
	src: url(../fonts/Gotham/Gotham-Bold.otf);
}
@font-face {
	font-family: "Gotham-Medium";
	src: url(../fonts/Gotham/Gotham-Medium.otf);
}
@font-face {
	font-family: "Gotham-Thin";
	src: url(../fonts/Gotham/Gotham-Thin.otf);
}
@font-face {
	font-family: "Gotham-Book";
	src: url(../fonts/Gotham/Gotham-Book.otf);
}
@font-face {
	font-family: "Gotham-Black";
	src: url(../fonts/Gotham/Gotham-Black.otf);
}

.font-10{
	font-size: 10px;
}
.font-12{
	font-size: 12px;
}
.font-13{
	font-size: 13.5px;
}
.font-15{
	font-size: 15px;
}
.font-16{
	font-size: 16px;
}
.font-18{
	font-size: 18px;
}
.font-21{
	font-size: 21px;
}
.font-20{
	font-size: 20px;
}
.font-22{
	font-size: 22px;
}
.font-25{
	font-size: 25px;
}
.font-33{
	font-size: 33px;
}